body{ text-align:center;
background-color:#40E0D0;
}

img{ width:500px;}

.star {
      height: 500px;
    width: 500px;
}

ul{ list-style: none;
margin-left:-30px;}

footer{text-align:left;
margin-top:50px;}